fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-jose[cryptography]
bcrypt
python-multipart
openpyxl
pydantic-settings
requests
pandas
slowapi
limits
httpx
gspread
google-auth
pyyaml
requests-oauthlib
