alembic
apscheduler
bcrypt
fastapi
google-auth
gspread
httpx
limits
openpyxl
pandas
passlib[bcrypt]
psycopg2-binary
pydantic-settings
python-jose[cryptography]
python-multipart
pyyaml
requests
requests-oauthlib
slowapi
sqlalchemy
uvicorn[standard]
